.navbar {
  width: 100%;
  border: 1px solid blue;
  display: table;
  position: absolute;
}

.navbar-beatbox {
  display: table-cell;
  color: white;
}

.navbar-links-container {
  list-style-type: none;
  text-align: right;
  display: table-cell;

  li {
    padding: 20px;
    display: inline;
  }

  li > a {
    text-decoration: none;
    color: white;
  }

  li > a:hover {
    color: red;
  }
}
